@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:wght@600&display=swap');

*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

.container{
    width: 1440px;
    margin: 0 auto;
}

.login-page{
    display: flex;
    justify-content: space-between;
}

.side-text{
    padding: 70px 144px 317px 130px;
}

.btn-coming{
    color: #113FE2;
    background-color: #113ee211;
    border: none;
    padding: 5px 15px;
    border-radius: 100px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 161px;
    margin-bottom: 20px;
}

.tittle h2{
    font-size: 44px;
    color: #0A1B59;
    width: 80%;
    margin-bottom: 20px;
}

.explain p{
    width: 80%;
    font-size: 16px;
    line-height: 32px;
    color: #0a1b597e;
    margin-bottom: 40px;
}
.form-fill{
    align-items: center;
}

.input-field{
    padding: 10px 25px;
    border-radius: 8px;
    border: 1px solid #0a1b592c;
    font-size: 16px;
}

.btn-primary{
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #113FE2;
    color: #ffffff;
    margin-left: 20px;
}

.bottom-text{
    margin-top: 20px;
    font-size: 12px;
    color: #0a1b597e;
}